/* Tela Index */	
.login{
	margin: 10% auto;
	width:40%;
}
.fundo{
	background-image:url("../img/fundo2.png");
}
.nav-link-clientes{
	color:black;
	display:block;
	
}
.nav-link-clientes:hover,.nav-link-clientes:focus {
	text-decoration: none;
	background-color:#1377e9;
	color:white;
  }
.bg-list{
	background-color:#aecef3;
	color:black;
}
.jumbotron-clientes {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #f8fcff;
	border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
	.jumbotron-clientes {
	  padding: 4rem 2rem;
	}
  }
  .dist-top{
    margin-top: 10%;
  }